__pycache__/*
tests/__pycache__/*
mlrose_hiive/__pycache__/*

build/*
mlrose.egg-info/*
dist/*
docs/_build/*
docs/_static/*
docs/_templates/*
.vscode/settings.json
tsp_test/*
mlrose_hiive.egg-info/*
venvp/
/.idea/
